<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiodev.trailbadger.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/peak_badger_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kiodev.trailbadger.app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kiodev.trailbadger.app.SavePeakActivity"
            android:label="@string/title_activity_save_peak"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kiodev.trailbadger.app.MainActivity" />
        </activity>

        <activity
            android:name="com.kiodev.trailbadger.app.FacebookLoginActivity"
            android:label="@string/title_activity_facebook_login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kiodev.trailbadger.app.MainActivity" />
        </activity>

        <activity
            android:name="com.kiodev.trailbadger.app.MyPeaksActivity"
            android:label="@string/title_activity_my_peaks" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kiodev.trailbadger.app.MainActivity" />
        </activity>

    </application>

</manifest>
